body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    padding: 12px 200px 64px 200px;
    gap: 32px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

#sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#sub-header-right {
    flex 1;
}

#img-place-holder {
    background-color: #b1b1b1;
    padding: 80px;
    flex-shrink: 0;
}

#hero {
    flex: 1;
}

#hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

.content {

}

.testimonial {
    background-color: #EFE7EB;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 12px;
}

h4 {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

.button {
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 6px 12px;
    border-radius: 8px;
    border: 0px;
}